@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


body {
    font-family: 'Josefin Sans', sans-serif;
}

.task-border {
    border-bottom: 1px solid;
    border-color: hsl(234, 11%, 52%);
}